@import "./reset.css";
@import "./variables.css";
@import "./layout.css";
@import "./components.css";
@import "./dashboard.css";
@import "./pages.css";
@import "./animations.css";
@import "./responsive.css";

body {
    margin: 0;
    background: var(--color-background);
    color: var(--color-text);
    font-family:
        "Inter",
        "Segoe UI",
        sans-serif;
}